{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">    
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'media/logo.png' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <a class="container-topics-a" href="{% url 'index' %}">Home</a>
        </div>
    </div>

    <div class="container-rules">
        <div class="rule-section">
            <h2>Rules of the game:</h2>
        </div>
        <br>
    
        <div class="rule-section">
            <h3>Equipment required:</h3>
            <br>
            <p>Classic Monopoly game board.</p>
            <p>Personalized pieces representing iconic brands.</p>
            <p>Game money with values corresponding to realistic sums of money for the brand theme.</p>
        </div>
    
        <div class="rule-section">
            <h3>Setting up the game:</h3>
            <h4>Brand allocation:</h4> Traditional Monopoly properties are replaced by brands. Each group colour represents a product category (Sport, Food, Car, Fashion, Hygiene, Digital, Internet, Furniture).</p>
            <h4>Initial money:</h4>
            <p> Each player receives an initial sum of money to start the game. The sum is 340,000 Markpoly. The banker distributes this sum as follows:</p>

        </div>

        <div class="rule-section" style="align-items: center; margin:2vh">
            <table class="table">
                <tbody>
                    <tr>
                        <td>30,000 * 4 = 120,000</td>
                    </tr>
                    <tr>
                        <td>20,000 * 6 = 120,000</td>
                    </tr>
                    <tr>
                        <td>10,000 * 10 = 100,000</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="rule-section">
            <h3>Flow of the game:</h3>
            <h4>Acquiring the marks:</h4>
                <p>When a player lands on a brand they do not already own, they have the option of buying it. The purchase cost is determined according to the brand's notoriety. To buy, the player must correctly answer a question about the mark corresponding to the square.</p>
    
            <h4>Contracts and partnerships:</h4> 
            <p>Players can trade to exchange brands with each other.</p>
    
            <h4>Brand bank:</h4> 
            <p>Available brands form a "brand bank". Players can buy brands from the bank if they are not already owned by other players and land on the square.</p>
    
            <h4>End of the game:</h4>
            <p> The game can end in one of two ways:</p>
            <h4>Bankruptcy:</h4> 
            <p>If a player cannot pay his debts, he goes bankrupt and leaves the game. The last remaining player is the winner.</p>
            <h4>Markpoly:</h4> 
            <p>The game can also end when one player succeeds in acquiring a monopoly on all the brands and thus eliminates all the other players.</p>
            <br>
            <h3>Additional variations:</h3>
            <h4>Random events:</h4> <p>Introduce "Event" cards that simulate unpredictable market movements, influencing the value of brands.</p>
            <p>Adapt these rules to suit your specific vision of the game and the brands you have chosen. The aim is to create an entertaining and competitive experience while incorporating the brand theme.</p>
        </div>
    <br>
        <div class="rule-section">
            <h3>Each time you win, you win 20,000 Markpoly.</h3>
        </div>
    <br>
        <div class="rule-section">
            <h2>Have fun!</h2>
        </div>
    </div>
    
    
    
</div>
  
{% endblock %}
